/* ==================== *
* = Typography = *
* ==================== */
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/* ==================== *
* = Colors = *
* ==================== */
.u-darkblue{
    color: #464E9C;
}

.u-darkblue:hover {
    color: #464E9C;
}

.u-darkgrey {
    color: #4c4c4c;
}

.u-grey {
    color: #67676A;
}

/* ==================== *
* = Main = *
* ==================== */
/* header nav */
.nav {
    margin-top: 200px;
    margin-bottom: 150px;
}

h1, h2, h3, a, p, body, li {
    font-family: "San Francisco","Helvetica Nueue", sans-serif;
    font-weight: 400;
    color: #17171C;
    letter-spacing: .01em;
}

h1 {
    font-size: 32px;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 24px;
    margin-bottom: 80px;
    font-weight: 200;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
    color: #A0A0A0;
    font-weight: lighter;
}

a:hover{
    color: #464E9C;
}

img {
    width: 20em;
    height: auto;
    display: flex;
    margin: auto;
}

.img-about {
  width: 23em;
  height: auto;
  display: flex;
}

#lokals {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.12), 0 9px 25px 1px rgba(0,0,0,0.12), 0 10px 45px 0 rgba(0,0,0,0.12);
}

#rc {
}

#coffee {
    margin-top: 60px;
}

#duo {
    width: 25em;
    margin-top: -10px;
}

#eatery {
    margin-top: 30px;
    width: 22em;
}


#sml {
    margin-top: -20px;
    margin-left: -20px;
    width: 35em;
}

#callbaxx {
    margin-top: 40px;
    width: 25em;
}

#ibm {
    margin-top: 80px;
}

#google {
    margin-top: -40px;
}

#cxd {
    margin-top: 50px;
    margin-left: 2em;
    width: 25em;
}

#facebook {
    width: 30em;
}

#form-button {
    height:48px;
    text-transform: none;
    font-size: 16px;
    line-height:44px;
    font-weight:400;
    margin: 10px auto 10px auto;
}

/* ==================== *
* = Components = *
* ==================== */
ul.header-links--inline li {
    display: inline-block;
    float: left;
    margin: 0 auto 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.button {
    height:48px;
    text-transform: none;
    font-size: 16px;
    line-height:44px;
    font-weight:400;
    margin: 10px auto 10px auto;
}

/*
.project {
    -webkit-transform: scale(1.00);
    transition: 0.35s;
}
.project:hover {
    -webkit-transform: scale(1.02);
    transition: 0.35s;
}
*/

.project {
    padding-bottom: 60px;
    padding-top: 80px;
    border-bottom: 1px solid #E6E6E6;
}

.first {
    padding-bottom: 60px;
    padding-top: 0px;
}

.portfolio {
    background-color: #fcfcfc;
    margin-top: -48px;
    padding-bottom: 48px;
    padding-top: 148px;
}
