@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* header nav */
.nav {
  margin-top: 120px;
  margin-bottom: 120px;
}

/* header title text */
h2 {
  font-family: "San Francisco", sans-serif;
  margin-bottom: 20px;
}

/* description text and nav items */
h6, p, li {
  font-family: "San Francisco", sans-serif;
  color: #4c4c4c;
  letter-spacing: .01em;
}

h6 {
  margin-top: 10px;
}

h3, h4, h5 {
    font-family: "San Francisco", sans-serif;
    letter-spacing: 0;
    margin-bottom: 0;
    color: #4c4c4c;
    font-weight: 400;
    letter-spacing: .01em;
}

h4 {
  margin-bottom: 36px;
}

h5 {
  color: black;
}

hr {
  width: 60%;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  color: #BDBDBD;
}

a:hover{
    color:#4c4c4c;
}

img {
    width: 20em;
    height: auto;
}

.img-about {
    margin-top: 20px;
    width: 75%;
    height: auto;
}

.u-dodgerblue{
    color: #464E9C;
}

.u-dodgerblue:hover {
    color: #464E9C;
}

.u-dark {
    color: #4c4c4c;
}

.u-grey {
    color:#9D9D9D;
}

.u-bold {
    font-weight: 600;
}

.u-med{
    font-weight: 400;
}

.mockup {
    width: 100%;
    margin-bottom:40px;
}

/*Components*/

ul.header-links--inline li{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.button{
    height:48px;
    text-transform: none;
    font-size: 16px;
    line-height:44px;
    font-weight:400;
    margin: 10px auto 20px auto;
}

.project {
    -webkit-transform: scale(1.00);
    transition: 0.3s;
}
.project:hover {
    -webkit-transform: scale(1.02);
    transition: 0.25s;
}

.portfolio {
    background-color: #fcfcfc;
    margin-top: -48px;
    padding-bottom: 48px;
    padding-top: 48px;
}

img {
    display:block;
    margin:auto;
}

.card {
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid #E6E6E6;
}

.header {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.end {
    padding-top: 48px;
    padding-bottom: 120px;
}

.avatar{
    width: 100%;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 9px 25px 1px rgba(0,0,0,0.18), 0 10px 45px 0 rgba(0,0,0,0.12);
    margin-bottom:40px;
}

.card-first{
    padding-top: 48px;
    padding-bottom: 48px;
}
