/* ==================== *
* = Typography = *
* ==================== */
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/* ==================== *
* = Colors = *
* ==================== */
.u-darkblue{
    color: #464E9C;
}

.u-darkblue:hover {
    color: #464E9C;
}

.u-darkgrey {
    color: #4c4c4c;
}

/* ==================== *
* = Main = *
* ==================== */
/* header nav */
.nav {
    margin-top: 120px;
    margin-bottom: 120px;
}

h1, h2, h4, h5, h6, a, p, body, li {
    font-family: "San Francisco", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    margin-bottom: 60px;
    font-weight: 200;
}

h5 {
    color: black;
    letter-spacing: .01em;
}

h6, p, li {
    color: #4c4c4c;
    letter-spacing: .01em;
}

h6 {
    margin-top: 10px;
    color: #9D9D9D;
}

hr {
    width: 60%;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: #BDBDBD;
    font-weight: lighter;
}

a:hover{
    color:#4c4c4c;
}

img {
    width: 20em;
    height: auto;
    display: flex;
    margin: auto;
}

u-bold {
    font-weight: 600;
}

/* ==================== *
* = Components = *
* ==================== */
ul.header-links--inline li {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.button {
    height:48px;
    text-transform: none;
    font-size: 16px;
    line-height:44px;
    font-weight:400;
    margin: 10px auto 10px auto;
}

.project {
    -webkit-transform: scale(1.00);
    transition: 0.35s;
}
.project:hover {
    -webkit-transform: scale(1.02);
    transition: 0.35s;
}

.portfolio {
    background-color: #fcfcfc;
    margin-top: -48px;
    padding-bottom: 48px;
    padding-top: 48px;
}
