---
layout: default
---
<div class="portfolio">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h3>About</h3>
        <p>Hi there! <span role="img" aria-label="waving hand emoji">👋</span></p>
        <p>I'm Michael, a professional pixel pusher for web, mobile, voice, and XR products across enterprise and consumer contexts. Currently building the future of passion-led investing at <a class="u-darkblue" target="_blank" href="https://rallyrd.com/">Rally.</a></p>  
        <p>Prior to this, I joined <a class="u-darkblue" target="_blank" href="https://facebook.design/">Facebook</a> Reality Labs as a product design intern. Before that, I designed for <a class="u-darkblue" target="_blank" href="https://design.google/">Google</a>'s Geo team, <a class="u-darkblue" target="_blank" href="https://www.ibm.com/design/">IBM</a>'s Patterns design program, and <a class="u-darkblue" target="_blank" href="https://www.fairtradecertified.org/">Fair Trade USA</a> in collaboration with Cornell CIS.</p>  
<!--        <p>At school, I was a product designer for <a class="u-darkblue" target="_blank" href="http://www.cornellappdev.com/">Cornell AppDev</a>, instructor for <a class="u-darkblue" target="_blank" href="https://medium.com/intro-to-digital-product-design/lecture-1-what-is-product-design-c290bfe799a9">Intro to Digital Product Design</a>, and the marketing chair for <a class="u-darkblue" target="_blank" href="http://issa.infosci.cornell.edu/"> Cornell Information Science Student Association</a>.</p>-->
          <p>I graduated from <a class="u-darkblue" target="_blank" href="https://prod.cis.cornell.edu/cornell-computing-information-science">Cornell University</a> with my Masters &amp; Bachelors in Computing and Information Science, and a minor in Business.</p>
        <p>When I'm not designing, I love experimenting with new recipes, exploring new places, and staying abreast of the newest memes.</p>
        <p>If you would like to chat, feel free to drop me a line at <a class="u-darkblue" href="mailto:mh999@cornell.edu"> mh999@cornell.edu</a>. Thanks for stopping by!</p>
      </div>
      <div class="six columns">
        <img src="/resources/about.png" class="img-about" alt="Michael Huang"/>
      </div>
    </div>
  </div>
</div>