---
layout: default
---
<div class="portfolio">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h5>About</h5>
        <p>Hi there!</p>
        <p>I'm Michael, a sophomore studying Information Science at Cornell, with concentrations in User Experience and Interactive Technologies. I'm also pursuing double minors in Cognitive Science and Business.</p>
        <p>Although I intended to study Economics, I discovered a passion for product design along the way, specifically in applying the design process to solve real-world problems for real people.
        <p>In school, I am a product designer for <a class="u-dodgerblue" href="http://www.cornellappdev.com/">Cornell AppDev</a>, a design mentor for <a class="u-dodgerblue" href="http://cornelldti.org/">Cornell Design & Tech Initiative</a>, and the marketing chair for the <a class="u-dodgerblue" href="http://issa.infosci.cornell.edu/"> Information Science Student Association</a>.</p>
        <p>If you would like to chat, feel free to drop me a line at <a class="u-dodgerblue" href="mailto:mh999@cornell.edu"> mh999@cornell.edu</a>. Thanks for stopping by!</p>
      </div>
      <div class="six columns">
        <img src="/resources/about.jpg" class="img-about" alt="Michael Huang"/>
      </div>
    </div>
  </div>
</div>
