---
layout: default
---
<div class="portfolio">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h3>About</h3>
        <p>Hi there!</p>
        <p>I'm Michael, a rising junior studying Information Science at Cornell, with concentrations in User Experience and Interactive Technologies. I'm also pursuing double minors in Cognitive Science and Business.</p>
        <p>Although I intended to pursue Economics, I discovered a passion for product design along the way, specifically in applying the design process to solve real-world problems for real people.
          <p>In school, I am a product designer for <a class="u-darkblue" href="http://www.cornellappdev.com/">Cornell AppDev</a>, the design lead for <a class="u-darkblue" href="http://cornelldti.org/">Cornell Design &amp; Tech Initiative</a>, and the marketing chair for <a class="u-darkblue" href="http://issa.infosci.cornell.edu/"> Cornell Information Science Student Association</a>. This summer, I'm interning at <a class="u-darkblue" href="https://www.ibm.com/design/">IBM</a> as a product designer.</p>
        <p>If you would like to chat, feel free to drop me a line at <a class="u-darkblue" href="mailto:mh999@cornell.edu"> mh999@cornell.edu</a>. Thanks for stopping by!</p>
      </div>
      <div class="six columns">
        <img src="/resources/about.jpg" class="img-about" alt="hello it's me"/>
      </div>
    </div>
  </div>
</div>
