<html lang="en">
	<head>
		<!-- Open Graph Data -->
    <meta charset="UTF-8"/>
    <meta property="og:title" content="Michael Huang"/>
    <meta property="og:description" content="Product designer @ Cornell University."/>
    <meta property="og:site_name" content="Michael Huang"/>

		<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="icon" type="favicon" sizes="96x96" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Michael Huang</title>
	</head>

	<body>
    <header>
      <div class="container nav">
        <div class="row">
          <div class="twelve columns">
            <a href="/"><h2 class="u-dodgerblue">Michael Huang</h2></a>
            <h4>product designer @ cornell university. </h4>
            <ul class="header-links--inline">
            <div class="two columns">
            	<li class="u-grey"><a href="/">Portfolio</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a href="/about/">About</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="/resources/resume.pdf">Resume</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="https://medium.com/@mkhuang">Medium</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="https://www.linkedin.com/in/michaelhuangmk">LinkedIn</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="mailto:mh999@cornell.edu">Email</a></li>
            </div>
            </ul>
          </div>
        </div>
      </div>
  	</header>

		{{ content }}

		<footer>
		</footer>
	</body>
</html>
