<html lang="en">
	<head>
    <!-- Open Graph Data -->
    <meta charset="UTF-8"/>
    <meta property="og:title" content="Michael Huang"/>
    <meta name="description" content="Hi, I'm Michael, a product designer looking for things to build and dogs to pet. Previously @ Facebook, Google, IBM, and Cornell."/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="icon" type="favicon" sizes="96x96" href="/favicon.png">
<!--    <link rel="stylesheet" type="text/css" href="/css/normalize.css">-->
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Michael Huang</title>
        
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123749262-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123749262-1');
    </script>
	</head>

	<body>
    <header>
      <div class="container nav">
        <div class="row">
          <div class="twelve columns">
            <a href="/"><h1 class="u-darkblue">Michael Huang</h1></a>
            <h2 class="u-darkgrey">product designer. </h2>
            <ul class="header-links--inline">
            <div class="two columns">
            	<li class="u-grey"><a href="/">Portfolio</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a href="/about/">About</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="/resume.pdf">Resume</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="https://medium.com/@mkhuang">Medium</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="https://www.linkedin.com/in/michaelhuangmk">LinkedIn</a></li>
            </div>
            <div class="two columns">
            	<li class="u-grey"><a target="_blank" href="mailto:mh999@cornell.edu">Email</a></li>
            </div>
            </ul>
          </div>
        </div>
      </div>
  	</header>

		{{ content }}

	</body>
</html>
