<html lang="en">
	<head>
		<title>Michael Huang</title>
        
        <!-- Load font -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

        
        <link rel="icon" type="favicon" sizes="96x96" href="/favicon.png">
        <link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/style.css">
        
        <!-- Open Graph Data -->
        <meta charset="utf-8">
        <meta property="og:title" content="Michael Huang"/>
        <meta property="og:description" content="Product designer @ Cornell University."/>
        <meta property="og:site_name" content="Michael Huang"/>
	</head>

	<body>
        <header>
            <div class="section-title">
                <div class="container" style="margin-top: 120px; margin-bottom: 120px">
                    <div class="row">
                        <div class="twelve columns">
                            <a href="/"><h2 class="u-dodgerblue" style="margin-bottom: 20px">Michael Huang</h2></a>
                            <h4 style="margin-bottom:35px">product designer @ cornell university. </h4>
                            <ul class="header-links--inline">
                                <div class="two columns">
                                <li class="u-grey"><a href="/">Portfolio</a></li>
                                </div>
                                <div class="two columns">
                                <li class="u-grey"><a href="/about/">About</a></li>
                                </div>
                                <div class="two columns">
                                <li class="u-grey"><a target="_blank" href="/resources/resume.pdf">Resume</a></li>
                                </div>
                                <div class="two columns">
                                <li class="u-grey"><a target="_blank" href="https://medium.com/@mkhuang">Medium</a></li>
                                </div>
                                <div class="two columns">
                                <li class="u-grey"><a target="_blank" href="https://www.linkedin.com/in/michaelhuangmk">LinkedIn</a></li>
                                </div>
                                <div class="two columns">
                                <li class="u-grey"><a target="_blank" href="mailto:mh999@cornell.edu">Email</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
	
		{{ content }}
		
		<footer>
		</footer>
	</body>
</html>
