---
layout: default
---

<!-- Portfolio Pieces -->
<div class="portfolio">
  <div class="container">
      <div class="row project">
          <div class="six columns">
            <h5>Research Connect</h5>
            <h6>Fall 2017 — Spring 2018</h6>
            <p>Research Connect is a web application for students in the Cornell community to discover and connect to research opportunities. </p>
            <p>This project is currently under development through Cornell Design & Tech Initiative, and is expected to launch in late April.</p>
            <p>Case study coming soon.</p>
            <!--<a class="button" href="#">Read more</a>-->
          </div>
          <div class="six columns" style="margin-bottom: 10px;">
              <img src="/resources/researchconnect.png" alt="Research Connect"/>
          </div>
      </div>
  </div>
  <hr/>
  <div class="container">
      <div class="row project">
          <div class="six columns">
            <h5>Duolingo Games Concept</h5>
            <h6>Winter 2017</h6>
            <p>I completed a case study on better engaging users through gamified interaction and motivation in the education app Duolingo, in addition to increasing participation within the Clubs feature. </p>
            <p>This project was part of a 2-week sprint where I iterated through the design process, culminating in a prototype of the feature concept.</p>
            <p>This was a side project done purely out of interest. I am in no way affiliated with Duolingo.</p>
            <a class="button" href="https://medium.com/@mkhuang/duolingo-concept-engaging-people-through-action-and-motivation-d0e87f9b3bda">Read more</a>
          </div>
          <div class="six columns">
              <img src="/resources/duolingo.png" style="margin-top: -10px; padding-bottom: 20px;" alt="Duolingo"/>
          </div>
      </div>
  </div>
  <hr/>
  <div class="container">
      <div class="row project">
          <div class="six columns">
            <h5>Cornell Information Science Department</h5>
            <h6>Summer 2017 — Fall 2017</h6>
            <p>I worked in a team of 3 designers to develop a personal finance tool for smallholder farmers in Latin America to calculate their yearly costs of coffee production.</p>
            <p>This project involved an end-to-end design process, from initial user research and iterative developement to product launch and on-site usability testing in Peru.</p>
            <p>In colaboration with Fair Trade USA.</p>
            <a class="button" href="https://medium.com/@mkhuang/what-designers-can-learn-from-and-do-for-smallholder-coffee-farmers-part-i-3b24dce6f425">Read more</a>
          </div>
          <div class="six columns">
              <img src="/resources/fairtrade.png" style="padding-top: 40px;" alt="Fair Trade"/>
          </div>
      </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row project">
            <div class="six columns">
              <h5>Life Changing Labs</h5>
              <h6>Summer 2017</h6>
              <p>As the design lead for the Lokals team, I worked part-time to produce visual assets for a travel startup connecting travelers to unique excursions guided by local residents.</p>
              <p>Deliverables for this project included high-fidelity mockups of the landing page and traveler/guide interaction flows, in addition to a basic prototype demo for NUX onboarding.</p>
              <a class="button" href="https://blog.prototypr.io/lokals-designing-experiences-for-travel-28a5c43fa523">Read more</a>
            </div>
            <div class="six columns">
                <img src="/resources/lokals.png" alt="Lokals"/>
            </div>
        </div>
    </div>
</div>
