---
layout: default
---

<!-- Portfolio Pieces -->
<div class="portfolio">
  <div class="container">
      <div class="row project first">
          <div class="six columns">
            <h3>IBM</h3>
            <p class="u-grey">Summer 2018</p>
            <p>Designed a management system to improve how IBM design leaders track and understand key data about their teams.</p> 
            <p>Empowered leadership to make confident, actionable, and data-driven decisions for increasing investment in design.</p>
            <a class="button" target="_blank" href="https://medium.com/@mkhuang/ibm-design-management-system-6c7d1ef83b76">Read more</a>
          </div>
          <div class="six columns">
              <img id="ibm" src="/resources/ibm.png" alt="IBM"/>
          </div>
      </div>
  </div>
    <div class="container">
      <div class="row project">
          <div class="six columns">
            <h3>Duolingo Games Concept</h3>
            <p class="u-grey">Winter 2017</p>
            <p>I completed a case study on improving engagement in language-learning through gamified interactions and motivation, in addition to exploring ways to boost participation in the Clubs feature. </p>
            <p>This project was part of a 2-week design sprint, culminating in a prototype of the feature concept.</p>
            <a class="button" target="_blank" href="https://medium.com/@mkhuang/duolingo-concept-engaging-people-through-action-and-motivation-d0e87f9b3bda">Read more</a>
          </div>
          <div class="six columns">
              <img id="duo" src="/resources/duolingo.png" alt="Duolingo"/>
          </div>
      </div>
  </div>
    <div class="container">
      <div class="row project">
          <div class="six columns">
            <h3>Recast</h3>
            <p class="u-grey">Fall 2018</p>
            <p>Currently rethinking the first-time user experience for Recast, a social podcast app. Conducting user research and a UX audit to identify pain points driving low retention and churn.</p>
            <p>This project is under development through Cornell App Development (AppDev) and is slated to relaunch on the App Store in winter 2018. </p>
            <a class="button" target="_blank" href="https://iosexample.com/an-open-source-ios-app-for-listening-to-podcasts/">View info</a>
          </div>
          <div class="six columns">
              <img id="recast" src="/resources/recast.png" alt="Recast"/>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row project">
          <div class="six columns">
            <h3>Callbaxx A Cappella</h3>
            <p class="u-grey">Spring 2018</p>
            <p>Designed, developed, and deployed a website for the Callbaxx, Cornell University's largest all-female a cappella group.</p>
            <p>View the live website <a class="u-darkblue" target="_blank" href="http://www.cornellcallbaxx.com/">here</a>. </p>
            <a class="button" target="_blank" href="https://medium.com/@mkhuang/web-design-for-a-college-a-cappella-group-29c0072592b7">Read more</a>
          </div>
          <div class="six columns">
              <img id="callbaxx" src="/resources/callbaxx.png" alt="Callbaxx"/>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row project">
          <div class="six columns">
            <h3>Cornell Computing &amp; Information Sciences</h3>
            <p class="u-grey">Summer 2017 - Spring 2018</p>
            <p>I worked in a team of 3 designers to build a personal finance tool for farmers in Peru to visualize and interact with their cost data, towards making more informed investment decisions.</p>
            <p>This project involved an end-to-end design process, from  user research and iterative developement to product launch and on-site usability testing in Peru.</p>
            <p>In colaboration with Fair Trade USA.</p>
            <a class="button" target="_blank" href="https://medium.com/@mkhuang/what-designers-can-learn-from-and-do-for-smallholder-coffee-farmers-part-i-3b24dce6f425">Read more</a>
          </div>
          <div class="six columns">
              <img id="coffee" src="/resources/fairtrade.png" alt="Fair Trade"/>
          </div>
      </div>
    </div>
  <div class="container">
      <div class="row project">
          <div class="six columns">
            <h3>Research Connect</h3>
            <p class="u-grey">Fall 2017 - Fall 2018</p>
            <p>Research Connect is a platform for undergraduate students to discover and connect to research opportunities. </p>
            <p>This project is currently under development through Cornell Design &amp; Tech Initiative, and is expected to launch in winter 2018.</p>
            <p>Case study coming soon.</p>
            <!--<a class="button" target="_blank" href="#">Read more</a>-->
          </div>
          <div class="six columns">
              <img id="rc" src="/resources/researchconnect.png" alt="Research Connect"/>
          </div>
      </div>
  </div>
    <div class="container">
        <div class="row project">
            <div class="six columns">
              <h3>Life Changing Labs</h3>
              <p class="u-grey">Summer 2017</p>
              <p>I worked pro-bono to produce visual assets for Lokals, a travel startup connecting tourists to immersive excursions led by local residents.</p>
              <p>Deliverables for this project included high-fidelity mockups of the landing page and traveler/guide interaction flows, in addition to a prototype of the onboarding NUX.</p>
              <a class="button" target="_blank" href="https://blog.prototypr.io/lokals-designing-experiences-for-travel-28a5c43fa523">Read more</a>
            </div>
            <div class="six columns">
                <img id="lokals" src="/resources/lokals.png" alt="Lokals"/>
            </div>
        </div>
    </div>
</div>
