<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Michael Huang</title>
        <link rel="icon" type="favicon" sizes="96x96" href="img/favicon.png">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">

        <!-- Open Graph Data -->
        <meta charset="utf-8">
        <meta property="og:title" content="Michael Huang"/>
        <meta property="og:description" content="Product designer @ Cornell University."/>
        <meta property="og:site_name" content="Michael Huang"/>
    </head>

    <body>
        <header>
            
        </header>

        <footer>
        </footer>
    </body>
</html>